*{
    margin: 0%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    height: 80px;
}
.foto1{
    width: 131.94px;
    height: 50px;
}
.logo{
    margin-left: 12%;
}
.lista{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: nowrap;
}
.kontakti{
    width: 30%;
    margin-right: 5%;
}
.underline{
    text-decoration-line: none;
    color: darkblue;
    display: flex;
    flex-direction: row;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.underline:hover{
    color: lightgreen;
}